src
src/examples
.github
.husky
.nvmrc
.prettierrc
coverage
jest.config.js
tsconfig.json
.eslintrc
rollup.config.ts

# We output our files into one single bundle
# so we don't need the declaration files in the utils folder to be in the npm package
dist/utils